<div>
  <h3>Media Spotlight: <%= link_to @spotlight.title, work_path(@spotlight.id) %> by </h3>
  <p>
    <%= @spotlight.votes.count %> votes - <%= @spotlight.description %>
  </p>
</div>

<section class="top-ten">
  <div>
    <h3>Top Movies</h3>
    <ul>
      <% @works_movies[0..9].each do |movie| %>
      <li>
        <%= link_to movie.title, work_path(movie.id) %> by <%= movie.creator %> <br /> <%= movie.votes.count %> Votes
      </li>
      <% end %>
    </ul>
  </div>
  <div>
    <h3>Top Books</h3>
    <ul>
      <ul>
        <% @works_books[0..9].each do |book| %>
        <li>
          <%= link_to book.title, work_path(book.id) %> by <%= book.creator %> <br /> <%= book.votes.count %> Votes
        </li>
        <% end %>
      </ul>
    </ul>
  </div>
  <div>
    <h3>Top Albums</h3>
    <ul>
      <ul>
        <% @works_albums[0..9].each do |album| %>
        <li>
          <%= link_to album.title, work_path(album.id) %> by <%= album.creator %> <br /> <%= album.votes.count %> Votes
        </li>
        <% end %>
      </ul>
    </ul>
  </div>
</section>
