<article>
  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p></p>
</article>

<section>
  <a class="button" href="/">Back to media ranks</a>
  <%= link_to "Edit", edit_work_path, class: "button" %>
  <a class="button" href=#>Upvote</a>
  <%= link_to "Delete", work_path(@work.id), class: "button", method: :delete %>
</section>

<article>
  <h3># Votes for this <%= @work.category %></h3>
</article>
