<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Gudea:400,700" rel="stylesheet">


  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="page-header row">
    <h2>
      <%=  link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/works">View all media</a>
      <a class="button" href="/works/new">Add a new work</a>
      <a class="button" href="/users">View all users</a>
      <div class="float-right" div>
        <% if @user && @user.id %>
        <%=link_to "Logged in as #{@user.name}", user_path(@user.id), method: :get, class: "button" %>
        <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
        <% else %>
        <a class="button" href="/login">Login</a>
        <%end%>
      </div>

    </nav>


  </header>

  <main class="row">
    <% flash.each do |name, message| %>
    <section class = " row status <%= name%> " >

      <h3><%= message %></h3>
      <% @object = @work || @object = @vote || @object = @user %>
      <% if @object != nil && @object.errors.any?%>
      <ul>
        <% @object.errors.each do |field, message| %>
        <li>
          <strong><%= field %>:</strong> <%= message %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </section>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
