<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="page-header row">
    <h2>
      <%=  link_to "Media Ranker", works_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/works">View all media</a>
      <a class="button" href="/works/new">Add a new work</a>
      <% if @user %>
      <a class="button" href="/">Logged in as <% @user.name%> </a>
      <a class="button" href="/logout">Logout</a>
      <% else %>
      <a class="button" href="/login_form">Login</a>
      <%end%>
    </nav>


  </header>

  <main>

    <%= yield %>
  </main>
</body>
</html>
