<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="page-header row">
    <h2>
      <%=  link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav>
      <a class="button" href="/">View top media</a>
      <a class="button" href="/works">View all media</a>
      <a class="button" href="/works/new">Add a new work</a>
      <a class="button" href="/users">View all users</a>
      <% if @user && @user.id %>
      <%=link_to "Logged in as #{@user.name}", user_path(@user.id), method: :get, class: "button" %>
      <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
      <% else %>
      <a class="button" href="/login">Login</a>
      <%end%>
    </nav>


  </header>

  <main>

    <%= yield %>
  </main>
</body>
</html>
